<!DOCTYPE html>
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
<head>
    {{- partial "head.html" . -}}
</head>
<body class="bg-gray-900 text-gray-100 dark:bg-gray-950 dark:text-gray-100 relative flex flex-col min-h-screen font-wassail">
    <header class="bg-dark-slate-900 text-white py-4">
        <div class="container mx-auto px-4">
            {{- partial "header.html" . -}}
        </div>
    </header>

    <div class="container mx-auto px-4">
        <main class="flex-1 bg-dark-slate-800 p-8 my-8 rounded-lg shadow-lg">
            {{- block "main" . }}{{- end }}
        </main>
    </div>

    <footer class="bg-dark-slate-900 text-white py-4 mt-8">
        <div class="container mx-auto px-4">
            {{- partial "footer.html" . -}}
        </div>
    </footer>

    {{- partial "scripts.html" . -}}

    <button id="dark-mode-toggle" class="fixed bottom-4 left-4 bg-dark-indigo-700 hover:bg-dark-indigo-600 text-white p-2 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
        </svg>
    </button>

    <button id="scroll-to-top" class="fixed bottom-4 right-4 bg-dark-indigo-700 hover:bg-dark-indigo-600 text-white p-2 rounded-full hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
        </svg>
    </button>

    <script>
        // Dark mode toggle
        const darkModeToggle = document.getElementById('dark-mode-toggle');
        darkModeToggle.addEventListener('click', () => {
            document.documentElement.classList.toggle('dark');
        });

        // Scroll-to-top functionality
        const scrollToTop = document.getElementById('scroll-to-top');
        window.addEventListener('scroll', () => {
            if (window.pageYOffset > 100) {
                scrollToTop.classList.remove('hidden');
            } else {
                scrollToTop.classList.add('hidden');
            }
        });
        scrollToTop.addEventListener('click', () => {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });
    </script>
</body>
</html>