@font-face {
  font-family: "Chillight";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Chillight-EaVR9.tff"); 
  src: local(""),
    url("/fonts/Chillight.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/Chillight.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/Chillight.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/Chillight.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/Chillight.svg#400")
      format("svg"); /* Legacy iOS */;
  font-display: swap;
}

body {
  font-family: "Chillight", sans-serif; 
}

.font-chillight {
  font-family: Chillight, sans-serif;
  }