@font-face {
  font-family: "Chillight";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Chillight-EaVR9.tff"); 
  src: local(""),
       url("/fonts/Chillight.eot?#iefix") format("embedded-opentype"),
       url("/fonts/Chillight.woff2") format("woff2"),
       url("/fonts/Chillight.woff") format("woff"),
       url("/fonts/Chillight.ttf") format("truetype"),
       url("/fonts/Chillight.svg#400") format("svg");
  font-display: swap;
}

body {
  font-family: "Chillight", sans-serif; 
}

.font-chillight {
  font-family: Chillight, sans-serif;
  }