/** NELO FONT for SIMPLE.HTML **/ 
@font-face {
  font-family: Nelo, regular, sans-serif;
  src: url('/fonts/nelo.woff2') 
    format('woff2');
  font-weight: normal;
  font-stretch: 75% 125%;
  font-style: normal;
}

body {
    font-family: Nelo, regular, sans-serif;
}

.font-nelo-title {
  font-family: Nelo, regular, sans-serif;
  font-size: x-large;
  text-align: center;
  line-height: 3rem; 
}
