@font-face {
  font-family: "Occult Overture";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Occult Overture.tff"); 
  src: local(""),
       url("/fonts/Occult Overture.eot?#iefix") format("embedded-opentype"),
       url("/fonts/Occult Overture.woff2") format("woff2"),
       url("/fonts/Occult Overture.woff") format("woff"),
       url("/fonts/Occult Overture.ttf") format("truetype"),
       url("/fonts/Occult Overture.svg#400") format("svg"); 
  font-display: swap;
}

body {
  font-family: "Occult Overture", sans-serif; 
}

.font-occult-overture {
  font-family: Occult Overture, sans-serif;
  }