@font-face {
  font-family: 'Summer Days', sans-serif;
  src: url('/fonts/Summer Days.woff2') 
    format('woff2');
  font-weight: normal;
  font-stretch: 75% 125%;
  font-style: normal;
}

body {
  font-family: 'Summer Days', sans-serif;
}

.font-summer-days-title {
  font-family: 'Summer Days', sans-serif;
  font-size: x-large;
  text-align: center;
  line-height: 3rem;
}

