
@font-face {
  font-family: 'Wassail', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Wassail-2O90d.otf');
  src: local(""),
       url("/fonts/Wassail.etf?#iefix") format("embedded-opentype"),
       url("/fonts/Wassail.woff2") format("woff2"),
       url("/fonts/Wassail.woff")format("woff"), 
       url("/fonts/Wassail.ttf")format("truetype"),
       url("/fonts/Wassail.svg#400")format("svg"); 
  font-display: swap;
}

body {
  font-family: "Wassail", sans-serif;
}

.font-wassail {
  font-family: Wassail, sans-serif;
}