<footer class="container p-6 mx-auto flex justify-between items-center">
  <span class="text-sm font-light">
    {{ .Site.Copyright | default  "&copy; 2024 Electrik⚡️Serpentine. All rights reserved." | safeHTML }}
  </span>
  <button class="scroll-to-top p-2 bg-gray-200 dark:bg-gray-700 rounded-full">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M18 15l-6-6-6 6"/>
    </svg>
  </button>
</footer>