<section class="{{ if .Site.Params.introDarkTheme }}bg-gray-900 text-white{{ else }}{{ .Site.Params.ascentColor | default "bg-blue-100" }}{{ end }}">
  <div class="container max-w-screen-lg mx-auto px-6 py-12 grid md:grid-cols-2 gap-4 lg:gap-16 items-center">
    <div>
      <h1 class="text-4xl font-bold mb-4 {{ if .Site.Params.introDarkTheme }}text-blue-400{{ end }}">{{ .Site.Params.introTitle | safeHTML }}</h1>
      <p class="font-light text-lg {{ if .Site.Params.introDarkTheme }}text-gray-300{{ end }}">{{ .Site.Params.introSubtitle | safeHTML }}</p>
    </div>
    <img class="rounded-lg shadow-sm" src="{{ .Site.Params.introPhoto }}" alt="{{ .Site.Title }}" />
  </div>
</section>