<!-- Common Scripts -->
<script>
  // Toggle mobile menu
  const mobileMenuButton = document.querySelector('.mobile-menu-button')
  const mobileMenu = document.querySelector('.mobile-menu')
  function toggleMenu() {
    mobileMenu.classList.toggle('hidden');
    mobileMenu.classList.toggle('flex');
  }
  if(mobileMenu && mobileMenuButton){
    mobileMenuButton.addEventListener('click', toggleMenu)
  }

  // Smooth scroll to top
  const scrollToTopButton = document.querySelector('.scroll-to-top');
  if (scrollToTopButton) {
    scrollToTopButton.addEventListener('click', function() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    });

    // Show/hide scroll-to-top button based on scroll position
    window.addEventListener('scroll', function() {
      if (window.pageYOffset > 300) {
        scrollToTopButton.classList.remove('hidden');
      } else {
        scrollToTopButton.classList.add('hidden');
      }
    });
  }

  // Dark mode toggle
  const darkModeToggle = document.querySelector('#dark-mode-toggle');
  const htmlElement = document.documentElement;

  function toggleDarkMode() {
    htmlElement.classList.toggle('dark');
    localStorage.setItem('darkMode', htmlElement.classList.contains('dark') ? 'enabled' : 'disabled');
    updateDarkModeIcon();
  }

  function updateDarkModeIcon() {
    const isDarkMode = htmlElement.classList.contains('dark');
    const moonIcon = darkModeToggle.querySelector('.moon-icon');
    const sunIcon = darkModeToggle.querySelector('.sun-icon');

    if (isDarkMode) {
      moonIcon.classList.add('hidden');
      sunIcon.classList.remove('hidden');
    } else {
      moonIcon.classList.remove('hidden');
      sunIcon.classList.add('hidden');
    }
  }

  if (darkModeToggle) {
    darkModeToggle.addEventListener('click', toggleDarkMode);

    // Check for saved dark mode preference
    if (localStorage.getItem('darkMode') === 'enabled' || (!('darkMode' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      htmlElement.classList.add('dark');
    }

    updateDarkModeIcon();
  }

  // Cyberpunk glitch effect on headings
  const glitchHeadings = document.querySelectorAll('.glitch-effect');
  glitchHeadings.forEach(heading => {
    heading.addEventListener('mouseover', () => {
      heading.classList.add('animate-glitch');
    });
    heading.addEventListener('mouseout', () => {
      heading.classList.remove('animate-glitch');
    });
  });
</script>

<!-- Add any additional scripts here -->
{{ with .Site.Params.googleAnalytics }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ . }}');
</script>
{{ end }}

<!-- You can add more site-wide scripts here -->