{{ with .Params.sharingLinks | default (.Site.Params.article.sharingLinks | default false) }}
  {{ $links := site.Data.sharing }}
  <section class="flex flex-row flex-wrap justify-center pt-4 text-xl">
    {{ range . }}
      {{ with index $links . }}
        <a
          class="m-1 inline-block min-w-[2.4rem] rounded p-1 text-center bg-dark-zinc-800 text-gray-300 hover:bg-dark-indigo-700 hover:text-gray-100 transition-colors duration-200"
          href="{{ printf .url $.Permalink $.Title }}"
          title="{{ i18n .title }}"
          aria-label="{{ i18n .title }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{ partial "icon.html" .icon }}
        </a>
      {{ end }}
    {{ end }}
  </section>
{{ end }}