{{ with .Site.Taxonomies.social }}
<div class="flex justify-center gap-x-4">
  {{ range . }}
    <a 
      href="{{ .Page.Params.url }}"
      target="_blank"
      rel="noopener noreferrer"
      class="inline-block rounded-full p-2 bg-dark-zinc-800 text-gray-300 hover:bg-dark-indigo-700 hover:text-gray-100 transition-colors duration-200"
      title="{{ .Page.Title }}"
    >
      {{ $icon := (partial "icon.html" (lower .Page.Title)) }}
      {{ with $icon }}
        <span class="icon" style="width: 32px; height: 32px;">
          {{ . | safeHTML }}
        </span>
      {{ else }}
        {{ .Page.Title }}
      {{ end }}
    </a>
  {{ end }}
</div>
{{ end }}