{{ $name := .Get "name" | default "Name" }}
{{ $email := .Get "email" | default "Email Address" }}
{{ $message := .Get "message" | default "Message" }}
{{ $button := .Get "button" | default "Send" }}

<form class="w-full max-w-lg mx-auto" accept-charset="UTF-8" action="{{ .Get "action" }}" method="POST" role="form">
  <div class="mb-4">
    <label class="block text-zinc-700 dark:text-zinc-300 text-sm font-bold mb-2 font-astroviz" for="name">
      {{ $name }}
    </label>
    <input type="text" id="name" name="name" 
      class="input input-bordered w-full bg-stone-100 dark:bg-stone-800 text-zinc-800 dark:text-zinc-200 font-vanila"
      required placeholder="{{ $name }}" aria-labelledby="name"/>
  </div>

  <div class="mb-4">
    <label class="block text-zinc-700 dark:text-zinc-300 text-sm font-bold mb-2 font-astroviz" for="email">
      {{ $email }}
    </label>
    <input type="email" id="email" name="email" 
      class="input input-bordered w-full bg-stone-100 dark:bg-stone-800 text-zinc-800 dark:text-zinc-200 font-vanila"
      required placeholder="{{ $email }}" aria-labelledby="email"/>
  </div>

  <div class="mb-6">
    <label class="block text-zinc-700 dark:text-zinc-300 text-sm font-bold mb-2 font-astroviz" for="message">
      {{ $message }}
    </label>
    <textarea id="message" name="message" 
      class="textarea textarea-bordered w-full h-32 bg-stone-100 dark:bg-stone-800 text-zinc-800 dark:text-zinc-200 font-vanila"
      aria-labelledby="message" placeholder="{{ $message }}"></textarea>
  </div>

  <div class="flex items-center justify-between">
    <input 
      class="btn btn-primary w-full font-chillight text-stone-200 hover:text-stone-100 bg-indigo-700 hover:bg-indigo-600 dark:bg-indigo-800 dark:hover:bg-indigo-700 border-none transition-colors duration-300" 
      type="submit" 
      value="{{ $button }}" 
    />
  </div>
</form>