/** fonts **/
@import url("https://use.typekit.net/aps1owv.css");

/* Oi font */
.font-oi {
  font-family: "oi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Yellowtail font */
.font-yellowtail {
  font-family: "yellowtail", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Satisfy font */
.font-satisfy {
  font-family: "satisfy", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Philosopher font */
.font-philosopher {
  font-family: "philosopher", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/** just random customs **/

/* Custom styles */
.custom-heading {
  color: #4a5568;
  font-weight: bold;
  text-decoration: underline;
}

.custom-link {
  color: #2b6cb0;
  transition: color 0.3s ease;
}

.custom-link:hover {
  color: #2c5282;
}

.custom-box {
  background-color: #e2e8f0;
  border: 1px solid #cbd5e0;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
